# Linux/arm64 5.4.213 Kernel Configuration
#
#
# Compiler: aarch64-openwrt-linux-musl-gcc (OpenWrt GCC 7.5.0 r47815-ddcc976f7b) 7.5.0
#
CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=70500
CONFIG_CLANG_VERSION=0
CONFIG_CC_CAN_LINK=y
CONFIG_CC_HAS_ASM_GOTO=y
CONFIG_CC_HAS_ASM_INLINE=y
CONFIG_IRQ_WORK=y
CONFIG_BUILDTIME_EXTABLE_SORT=y
CONFIG_THREAD_INFO_IN_TASK=y
# CONFIG_THREAD_INFO_IN_TASK_FORCE is not set
