# QWRT 25.12.2 r47976-95b5987f62
# Linux/arm64 5.4.213
# Compiler: aarch64-openwrt-linux-musl-gcc (OpenWrt GCC 7.5.0 r47815-ddcc976f7b) 7.5.0

CONFIG_CC_IS_GCC=y
CONFIG_GCC_VERSION=70500

CONFIG_MODULES_USE_ELF_RELA=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
# CONFIG_MODVERSIONS is not set
CONFIG_MODULE_STRIPPED=y
CONFIG_MODULES_TREE_LOOKUP=y
CONFIG_KALLSYMS=y
CONFIG_GENERIC_BUG=y
CONFIG_ARM64_MODULE_PLTS=y
CONFIG_ARM64=y
CONFIG_64BIT=y
CONFIG_ARM64_PAGE_SHIFT=12
CONFIG_ARM64_VA_BITS_39=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_SMP=y
CONFIG_PREEMPT=y
CONFIG_NR_CPUS=4
CONFIG_HZ=100
CONFIG_ARCH_QCOM=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_NET_UDP_TUNNEL=m
CONFIG_CRYPTO_CHACHA20_NEON=y
CONFIG_CRYPTO_POLY1305_NEON=y